<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">

            @Html.Partial("~/Views/Shared/Metronic/_Header_Brand.cshtml")
            
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                @Html.Partial("~/Views/Shared/Metronic/_Header_HorizontalMenu.cshtml")

                @Html.Partial("~/Views/Shared/Metronic/_Header_TopBar.cshtml")
            </div>
        </div>
    </div>
</header>

<!-- END: Header -->